<template>
  <div id="navigation" class="h-full">
    <div id="logo" class="h-16 grid place-items-center">Logo</div>
    <div id="nav" class="h-auto">
      <ul class="p-4">
        <li
          class="
            cursor-pointer
            hover:bg-gray-800 hover:rounded-sm
            transition
            duration-150
            p-2
          "
        >
          <font-awesome-icon :icon="['fas', 'desktop']" class="fa-w-20" />
          Dashboard
        </li>
        <li
          class="
            cursor-pointer
            hover:bg-gray-800 hover:rounded-sm
            transition
            duration-150
            p-1
          "
        >
          <font-awesome-icon :icon="['fas', 'user']" class="fa-w-20" /> Players
        </li>
        <li
          class="
            cursor-pointer
            hover:bg-gray-800 hover:rounded-sm
            transition
            duration-150
            p-1
          "
        >
          <font-awesome-icon :icon="['fas', 'terminal']" class="fa-w-20" /> Live
          Console
        </li>
        <li
          class="
            cursor-pointer
            hover:bg-gray-800 hover:rounded-sm
            transition
            duration-150
            p-1
          "
        >
          <font-awesome-icon :icon="['fas', 'cubes']" class="fa-w-20" />
          Resources
        </li>
        <li
          class="
            cursor-pointer
            hover:bg-gray-800 hover:rounded-sm
            transition
            duration-150
            p-1
          "
        >
          <font-awesome-icon :icon="['fas', 'bars']" class="fa-w-20" /> Server
          Log
        </li>
        <li
          class="
            cursor-pointer
            hover:bg-gray-800 hover:rounded-sm
            transition
            duration-150
            p-1
          "
        >
          <font-awesome-icon :icon="['fas', 'edit']" class="fa-w-20" /> CFG
          Editor
        </li>
        <li
          class="
            cursor-pointer
            hover:bg-gray-800 hover:rounded-sm
            transition
            duration-150
            p-1
          "
        >
          <font-awesome-icon :icon="['fas', 'stethoscope']" class="fa-w-20" />
          Diagnostics
        </li>
        <li
          class="
            cursor-pointer
            hover:bg-gray-800 hover:rounded-sm
            transition
            duration-150
            p-1
          "
        >
          <font-awesome-icon :icon="['fas', 'user-shield']" class="fa-w-20" />
          Admin Manager
        </li>
        <li
          class="
            cursor-pointer
            hover:bg-gray-800 hover:rounded-sm
            transition
            duration-150
            p-1
          "
        >
          <font-awesome-icon :icon="['fas', 'file']" class="fa-w-20" /> axAdmin
          Log
        </li>
        <li
          class="
            cursor-pointer
            hover:bg-gray-800 hover:rounded-sm
            transition
            duration-150
            p-1
          "
        >
          <font-awesome-icon :icon="['fas', 'tools']" class="fa-w-20" />
          Settings
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
// this is must have
import { library } from "@fortawesome/fontawesome-svg-core";
// import { name of your icon in camelCase } from "@fortawesome/free-solid-svg-icons";
// For example, I want to use fa-enveloper-open-text, then it's faEnvelopeOpenText
import {
  faBars,
  faCubes,
  faDesktop,
  faEdit,
  faFile,
  faStethoscope,
  faTerminal,
  faTools,
  faUser,
  faUserShield,
} from "@fortawesome/free-solid-svg-icons";
// Then add it to library
library.add(
  faBars,
  faCubes,
  faDesktop,
  faEdit,
  faFile,
  faStethoscope,
  faTerminal,
  faTools,
  faUser,
  faUserShield
);

export default {
  name: "Navigation",
};
</script>

<style scoped>
#logo {
  background-color: rgb(22, 22, 22);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  color: whitesmoke;
}
</style>
