<template>
  <div id="playerList">
    <div id="title" class="h-16 grid place-items-center">Players</div>
    <div id="search" class="w-full mt-6 grid place-items-center">
      <input
        type="text"
        class="w-10/12 h-8 text-center rounded-md outline-none"
        placeholder="Search for player"
        v-model="searchedPlayer"
      />
    </div>
    <div id="list" class="p-6">
      <ul v-if="filteredList.length > 0">
        <li
          class="
            p-1
            pl-2
            mb-2
            cursor-pointer
            hover:bg-gray-800 hover:rounded-sm
            transition
            duration-150
          "
          v-for="player in filteredList"
          :key="player.id"
        >
          ({{ player.id }}) {{ player.name }}
        </li>
      </ul>
      <ul v-else>
        <li v-if="(playerList.length = 0)">
          There are no player on our server
        </li>
        <li v-else>There are no players matching your query</li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import { IPlayer } from "@/types/IPlayer";
import { Vue } from "vue-class-component";

export default class PlayerList extends Vue {
  public playerList: IPlayer[] = [];
  public filteredList: IPlayer[] = [];
  public playerName = "";

  public mounted(): void {
    this.playerList.push({
      id: 0,
      connectedSince: 0,
      ip: "127.0.0.1",
      hwId: "-1",
      name: "John",
      ping: 2,
      scId: -1,
      scName: "John",
    });
    this.playerList.push({
      id: 1,
      connectedSince: 0,
      ip: "127.0.0.1",
      hwId: "-1",
      name: "Dan",
      ping: 2,
      scId: -1,
      scName: "Dan",
    });
    this.playerList.push({
      id: 2,
      connectedSince: 0,
      ip: "127.0.0.1",
      hwId: "-1",
      name: "Louis",
      ping: 2,
      scId: -1,
      scName: "Louis",
    });
    this.filteredList = this.playerList;
  }

  get searchedPlayer(): string {
    return this.playerName;
  }

  set searchedPlayer(playerName: string) {
    this.filteredList =
      playerName.length === 0
        ? this.playerList
        : this.playerList.filter((x) => x.name.includes(playerName));
    this.playerName = playerName;
  }
}
</script>

<style scoped>
#title {
  background-color: rgb(22, 22, 22);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
#search input {
  background-color: rgba(255, 255, 255, 0.144);
}
</style>
