<template>
  <div id="topView" class="h-16">
    <div id="top" class="flex justify-end">
      <div id="profilePic" class="flex-initial mt-5">
        <img src="https://picsum.photos/32/32" class="rounded-full" />
      </div>
      <div id="name" class="flex-initial pl-2 pr-2 mt-5 mr-2">admin ▼</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TopView",
};
</script>

<style scoped></style>
