<template>
  <div class="grid grid-cols-12">
    <div
      class="
        bg-black bg-opacity-25
        border-black border-r-2 border-opacity-50
        col-span-2
        h-screen
      "
    >
      <Navigation />
    </div>

    <div class="col-span-8 h-screen">
      <div class="grid grid-flow-col grid-rows-2">
        <div
          class="
            h-16
            bg-black bg-opacity-50
            border-black border-b-2 border-opacity-50
          "
        >
          <TopView />
        </div>
        <div class="bg-black bg-opacity-25 h-full"><router-view /></div>
      </div>
    </div>

    <div
      class="
        bg-black bg-opacity-25
        border-black border-l-2 border-opacity-50
        col-span-2
        h-screen
      "
    >
      <PlayerList />
    </div>
  </div>
</template>

<style>
body {
  background-image: url("assets/img/Background.png");
  background-size: 100% 100%;
  color: whitesmoke;
}
</style>

<script>
import Navigation from "@/views/Navigation";
import PlayerList from "@/views/PlayerList";
import TopView from "@/views/TopView";

export default {
  components: { Navigation, PlayerList, TopView },
};
</script>
